body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#b1fff8;
    box-sizing: border-box;
  }
  
  /* Global */
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin: 20px;
    padding:0;
  }

  ol{
    margin: 20px;
    padding: 0;
  }
  
  .button_1{
    height:38px;
    background:#3703c7;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
  }
  
  .dark{
    padding:15px;
    background:#d3d7da;
    color:#000000;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  /* Header **/
  header{
    background:#00ffdd;
    color:#00f7ff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#1d00c2 3px solid;
  }
  
  header a{
    color:#000000;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  
  /* Showcase */
  #showcase{
    min-height: 400px;
    background:scr("./img/nhatrang.jpg") no-repeat 0 -0px;
    background-size: cover;
    text-align:center;
    color:#000000;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
  }
  
  /* Newsletter */
  #newsletter{
    padding:15px;
    color:#ffffff;
    background:#86c4ff
  }
  
  #newsletter h1{
    float:left;
  }
  
  #newsletter form {
    float:right;
    margin-top:15px;
  }
  
  #newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
  }

/* Boxes */
#boxes{
  margin-top: 40px;
  clear: left;
}

#boxes .box{
  float: left;
  width: 33.33%;
  padding: auto;
  text-align: left;
}

#boxes .box img{
  position: center;
  height: 60%;
  width: 60%;
}

footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
 
}

/* Sidebar */
aside#sidebar{
  max-width: 600px;
  position: absolute;
  right: 168px;
  top: 260px;
  width: 365px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 300px;
  height: 30px;
}

/* Main-col */
article#main-col{
    max-width: 650px;
  }

/* Services */
ul#services li{
    background-color: rgba(211, 211, 211, 0.8);
    border: 2px solid black;
    margin-top: 5px;
    padding: 18px;
}

footer{
    padding:20px;
    margin-top:20px;
    color:#000000;
    background-color:#a5e1f3;
    text-align: center;
}

@media(max-width: 768px){

  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

}


